<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Conversor de Vídeo .DAV/.AVI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
  <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
  <div class="container">
    <h1>🎥 Conversor de Vídeos</h1>
    <p>Converta arquivos .dav ou .avi para .mp4 diretamente do navegador.</p>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="video" required>
      <button type="submit">Converter Agora</button>
    </form>
  </div>
</body>
</html>
